<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

        <servlet>
            <servlet-name>servletdemo</servlet-name>
            <servlet-class>com.bjsxt.servlet.DemoServlet</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>servletdemo</servlet-name>
            <url-pattern>/servletdemo.do</url-pattern>
        </servlet-mapping>

        <servlet>
            <servlet-name>getRequestDataServlet</servlet-name>
            <servlet-class>com.bjsxt.servlet.GetRequestDataServlet</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>getRequestDataServlet</servlet-name>
            <url-pattern>/getInfo.do</url-pattern>
        </servlet-mapping>
</web-app>
